{% extends 'base.html.twig' %}
{% block body %}
<h1 class="center">welcome to our registration page</h1>
    {{ form_start(form) }}
    {# {{ form_row(form.email,{'label':"nom d'utilusateu",'attr':{'placeholder':"address e-mail"}}) }}#}
     {{ form_row(form.email,{'attr':{'placeholder':"address e-mail"}}) }}
     {{ form_row(form.username,{'attr':{'placeholder':"nom d'titlusateu"}}) }}
    {{ form_row(form.password,{'attr':{'placeholder':"mot de pass"}}) }}
    {{ form_row(form.confirm_password,{'attr':{'placeholder':"Confirmation du mot de pass"}}) }}

    <button type="submit" class="btn btn-success">Inscription</button>
    {{ form_end(form) }}
{% endblock %}