{% if app.user %}
    {{ form_start(commentForm) }}
    {{ form_row(commentForm.author,{'attr':{'placeholder':"Votre nom"}}) }}
    {{ form_row(commentForm.content,{'attr':{'placeholder':"Votre commentaire ici"}}) }}
    <button type="submit" class="btn btn-block btn-success">commenter</button>
    {{ form_end(commentForm) }}
{% else %}
    <h2>Vous ne pouvez pas effectuer un commentaire</h2>
    <p>Si vous voulez commenter veillez vous <a href="{{ path('security_login') }}"  class="btn btn-success">Connecter</a></p>
{% endif %}